/* .forms{
    width:50%;
} */

.profile{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 100px;
    position:relative;
}

.profiles{
    display: flex;
}


.names{
    display: flex;
    flex-flow: row wrap;
}

.submitBtn{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background: none;
    border-color: rgb(80, 80, 253);
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    transition: all 0.2s ease;
}

.nextBtn{
    cursor: pointer;
    all: unset;
    border: 2px solid green;
    padding: 4px 25px;
    border-radius: 6px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.2s ease-in;
}

.btnContainer{
    width: 100%;
    position: relative;
}
.nextBtn:hover{
    color: white;
    background: green;
}

